$BREAKPOINT_LG: 2000px;
$BREAKPOINT_MD: 1000px;

$GRID_COLUMNS_SM: 1;
$GRID_COLUMNS_MD: 2;
$GRID_COLUMNS_LG: 4;

$COLOR_PRIMARY: #333; 
$COLOR_SECONDARY:rgba(#333, .5);
$COLOR_RED: #D94925;
$COLOR_BLUE: #1971c2;
$COLOR_YELLOW: #ffd43b;
$COLOR_GRAY: #eee;
$COLOR_WHITE: #fff;

$BASE_PADDING: 10px;
$BASE_OPACITY: .5;

$BOX_SHADOW: 0px 4px 12px 2px rgba(black, 0.1);
$BORDER_RADIOUS: 20px;

$HEADER_HEIGHT: 60px;
$HEADER_INDEX: 100;

$DETAIL_WIDTH: 800px;

$XS300: 300px;
$XS300_WIDTH: $XS300 + 50px;
$XS300_HEIGHT: 500px;
$XS700: 700px;
