$font-size-12: 12px;
$line-height-12: 20px;

$font-size-14: 14px;
$line-height-14: 22px;

$font-size-16: 16px;
$line-height-16: 24px;

$font-size-20: 20px;
$line-height-20: 28px;

$font-size-24: 24px;
$line-height-24: 32px;

@mixin font-style-12 {
  font-size: $font-size-12;
  line-height: $line-height-12;
}

@mixin font-style-14 {
  font-size: $font-size-14;
  line-height: $line-height-14;
}

@mixin font-style-16 {
  font-size: $font-size-16;
  line-height: $line-height-16;
}

@mixin font-style-20 {
  font-size: $font-size-20;
  line-height: $line-height-20;
}

@mixin font-style-24 {
  font-size: $font-size-24;
  line-height: $line-height-24;
}

@mixin font-style($size, $color: false) {
  @if ($size == 12) {
    @include font-style-12;
  }
  @if ($size == 14) {
    @include font-style-14;
  }
  @if ($size == 16) {
    @include font-style-16;
  }
  @if ($size == 20) {
    @include font-style-20;
  }
  @if ($size == 24) {
    @include font-style-24;
  }

  @if (type-of($color) == color) {
    color: $color;
  }
}