$color-font:#333;
$color-background: skyblue;
$color-background--hover1: darken($color-background, 7%);
$color-background--hover2: darken($color-background, 14%);
$color-border: #e4e4e4;
$color-icon: #99958A;
$color-pagiNation-font:rgb(88, 134, 152);
