@mixin responsive ($breakpoint) {
	@if ($breakpoint == 'md') {
		@media screen and (min-width: $BREAKPOINT_MD) {
			@content;
		}
	}

	@if ($breakpoint == 'lg') {
		@media screen and (min-width: $BREAKPOINT_LG) {
			@content;
		}
	}
}